{% extends 'base.twig' %}

{% block content %}
<h1 class="restaurant-name">{{restaurant.name}}</h1>
<small class="date">{{day}}</small>
{% if restaurant.courses.length %}
<ul class="courses">
  {% for course in restaurant.courses %}
  <li>
    {{course.title}}
    <em>{{course.properties.join(', ')}}</em>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No menus found.</p>
{% endif %}
{% endblock %}