{% extends 'base.twig' %}

{% block content %}
<h1 class="restaurant-name">{{restaurant.name}}</h1>
<small class="date">{{day}}</small>
{% if restaurant.menus.length %}
<ul class="courses">
  {% for course in restaurant.menus[0].courses %}
  <li>
    {{course.title}}
    <em>{{course.properties.join(', ')}}</em>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No menus found.</p>
{% endif %}
{% endblock %}